// responsive.scss


// Colors
$bnrLightGrey:    #dadada;
$bnrGrey:         #808285;
$bnrDarkGrey:     #333333;
$bnrLightYellow:  #fffcd7;
$yellow:          #EED27C;
$bnrYellow:       #e8ae10;
$bnrBurntYellow:  #bb8d0a;
$orange:          #ff6666;
$bnrGreen:        #766000;
$greenHeadline:   $bnrGreen;
$red:             #d30b0b;



// Mixins and functions

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

@mixin remFont($pxWidth) {
  font-size: #{$pxWidth}px;
  font-size: #{$pxWidth / 16}rem;
}

@mixin remProperty ($property, $pxWidth) {
  #{$property}: #{$pxWidth}px;
  #{$property}: #{$pxWidth / 16}rem;
}

@mixin header-font($size: 16, $color: #fff, $weight: 400, $style: normal) {
  color:$color;
  font-family: "futura-pt", sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

@mixin header-font-condensed($size: 16, $color: #fff, $weight: 700, $style: normal) {
  color:$color;
  font-family: "futura-pt-condensed", sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

@mixin content-font($size: 16, $color: #fff, $weight: normal, $style: normal) {
  color:$color;
  font-family: Arial, Verdana, sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

// The BNR site uses the normal browser box model (ie, widths and heights are adjusted based on the element's padding)
// Foundation normalizes everything to use 'box-sizing: border-box' (IE8 and above). To avoid having to change widths
// and heights across the board, we're setting it back for now

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  }

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.columns.alpha {
  padding-left:0 !important;
}

.columns.omega {
  padding-right:0 !important;
}


body {
  background:url('');
}

// Header ------------------------------------------------------------- //

#fullContainer {
  //min-height:1000px;
  //overflow:auto;
}

span.hide-for-small {
  @media #{$medium} {
    display:inline !important;
  }
}

#logo {
  float: left;
  height:68px;
  margin:15px 0 0 10px;
  @include vendorize(transition, #{width 150ms linear, margin 150ms linear});
  width:179px;

  @media #{$medium} {

  }

  @media screen and (max-width: "866px") {
    margin-top:18px;
    width:150px;
  }

}

header {
  z-index:1000;
}

header nav {
  display:none;
  float:left;
  position: relative;
  z-index: 9999;
  padding-top:33px;
  padding-left:58px;

  @media #{$medium} {
    display:block;
  }

  @media screen and (max-width: "866px") {
    float:right;
    padding-left:0;
  }
}

.home-link {
  @media screen and (max-width: "863px") {
    display:none;
  }
}

.link-sammich {
  background:rgba(48, 38, 3, 0.15) url(../images/sammich.png) no-repeat center center;
  float:right;
  height:33px;
  margin: 20px 15px 0 0;
  padding: 10px;
  width:33px;

  @media #{$medium} {
    display:none;
  }
}

.nav-drawer {
  position:absolute;
  z-index:900;
  padding:9px 4px;
  @include vendorize(transition, top 150ms linear);
  top:-62px;

  &.open {
    top:116px;
  }

  &.closed {
    top:-62px;
  }

  @media #{$medium} {
    top:-89px !important;
  }

  @media screen and (min-width: "990px") {
    display:none;
  }
}


.nav-drawer ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

.nav-drawer a {
  background:#8f782a url(../images/bkg-nav-drawer.jpg) no-repeat center center;
  border:4px solid #766000;
  border-bottom:1px solid #766000;
  border-collapse:collapse;
  display:block;
  height:44px;
  margin:0;
  padding:11px 0 0 0;
  text-align:center;
  text-shadow: 2px 2px 5px #543d07;

  &:hover,
  &:active,
  &:focus {
    border-bottom:1px solid $yellow;
  }

}

.nav-drawer ul:first-child a {
  border-right:none;
}



.feature-wrap {
  background:url(../images/bkg-feature.jpg) no-repeat center top;
  //background:url(../old/images/home-slideshow-bg-repeat.png) repeat-x center top;


}

.feature {
  margin-bottom:25px;
  padding-top:20px;
 // min-height:376px;
}

.feature div:first-child {
  padding-right:0;
}

#homeSlideShow {
  height:auto;
  max-width:inherit;
  //margin-left:10px;
  position:relative;
  top:0;
  width:100%;
  z-index:50;
}

#slideShowBanner {
  left:14px;
  top:0;
  width:85px;
  @include vendorize(transition, width 150ms linear);

  @media #{$medium} {
    width:110px;
  }

  @media #{$large} {
    width:138px;
  }
}

#homeTopRightInfo {
  height:auto;
  margin-left:0;
  position:static;
  width:100%;

    @media #{$medium} {
      margin-left:10px;
    }
}

.topRightInfoTxt h3,
.topRightInfoTxt a {

  @media screen and (min-width: '768px') and (max-width: '1024px') {
    font-size:16px;
  }

}

.topRightInfoTxt p {
  padding:2px 35px;

  @media screen and (min-width: '768px') and (max-width: '993px') {
    padding:0 7px;
  }

  @media screen and (min-width: '768px') and (max-width: '910px') {
    font-size:11px;
  }


  @media #{$medium} {
    //padding:2px 15px;
  }

  @media #{$tablet} {
    //padding:0 7px;
  }
}

#homeTopRightInfo #yellowBox {
  background-size:cover;
  height: auto;
  padding-bottom: 30px;
  position:relative;
  width:100%;

  @media screen and (min-width: '768px') and (max-width: '1024px') {
    padding-top: 59px;
  }

  @media screen and (min-width: '768px') and (max-width: '894px') {
    padding-top:31px;
  }

  @media #{$large} {
    padding-bottom:18px;
  }
}

#yellowBox .activeInfo {
  background-image:url(../images/home_top_right_active_banner-480.png);
  top:10px;
  z-index:100;

  width: 109%;
  height: 82px;
  background-size: 100% 100%;
  right: inherit;
  left: -3.1%;
  padding-top: 0px;

    @media screen and (min-width: '768px') and (max-width: '1024px') {
      top: 10px;
      left: inherit;
      right: -18px;
      width: 117%;
      height: 88px;
      background-size: 100% 62px;

      & h1, & h2 {
        font-size:1.2em;
        line-height:.5em;
      }

      .thinHeaderTxt {
        padding-top:0;
      }
    }

    @media screen and (min-width: '767px') and (max-width: '894px') {
      top:-10px;
    }

    @media #{$large} {
      background-image:url(../old/images/home_top_right_active_banner.png);
      width: 355px;
      left: inherit;
      right: -26px;
      }
}

#yellowBoxHat {
  right: -37px;
  bottom: -49px;

  @media #{$medium} {
    bottom: -30px;
    right: -60px;
  }

  @media #{$tablet} {
    bottom: -50px;
  }
}

#yellowBox hr {
  @media #{$tablet} {
    margin:7px auto;
  }

  @media screen and (min-width: '768px') and (max-width: '894px') {
    margin:5px auto;
  }
}


#midSection {
  min-height: inherit;
  padding-bottom: 12px;
  padding-top:25px;
}

.section-box-banner,
.home_col {
  width:100% !important;
}

.home_col {
  padding-bottom:77px !important;

    @media #{$large} {
      padding-bottom:25px !important;
    }
}

#home_twitter_box {
  width:100%;
}

.home_twitter_after {
  top: inherit;
  bottom: -26px;
  left:inherit;
  right:-12%;
  height:103px;

    @media #{$large} {
      bottom:-78px;
    }
}

span.sectionFooterBanner {
  left:0 !important;
  bottom:20px;
  width:100%;
}

.class_item {
  height:auto;
}

#home_mid_title {
  position:static;
  height:56px;
}

#home_mid_title h4 {
  padding: 18px 0 0 0;
  width:100%;
}

.carousel-wrap {
  background:url(../old/images/home_logo_car_bg.png) repeat-x center top;
}

.carousel .item img {
  height:auto;
  width:100%;
  @media #{$large} {
    height:308px;
  }
}

#client_carousel {
  position:static;
}

#client_carousel .slider {
  width:100%;
}

footer {
  background:url(../images/bkg-footer.jpg) repeat-x center top;
  min-height:325px;
  height:inherit;
  padding:0 0 110px 0;
  position:relative;
}

footer .columns:last-child {
  //width:20%;
}

footer #legal_info {
  position:static;
}

footer .footerCol {
  float:none;
  margin:0 0 25px 0 !important;
  padding:0;
  height:inherit;
  width:100% !important;
}

footer #col_1 {
  width:100%;
}

.footer-nav-wrap {
  background:url(../images/bkg-footer-nav.jpg) repeat-x center top;
  clear:both;
  height:54px;

  nav {
    //margin-top:9px;
  }
}

.footer-nav-wrap > .row {
  position:relative;
}

footer > section.row {
  padding-top: 40px;
  min-height: 220px;

    @media #{$large} {
      background: url(../images/nerdvana-text.png) no-repeat center 0;
    }
}

footer nav ul {
  padding:5px;

  @media #{$small} {
    padding:15px 0 0 0;
  }
}

footer nav ul li a {
  @include remFont(15);

  @media #{$small} {
    @include remFont(13);
  }
}

.class_listing {
  padding:0;
}

.legalText {
  margin-top:26px;

  p {
  color: #bb8d0a !important;
  margin:0;
  text-align:center;
  }

  a {
    color: #bb8d0a;
  }
}

div.studentLoginBtn {
  width: 147px;
  margin:12px auto 0 auto;
  position:static;

  @media #{$medium} {
    position:absolute;
    bottom: inherit;
    left:inherit;
    margin:0;
    right:30px;
    top: 11px;
  }

  @media #{$large} {

  }


}

.mc-field-group.base input {
  width:184px !important;
}

.banner-nerdvana {
  background: url(../images/banner-nerdvana.png) no-repeat center center;
  left:0;
  position:absolute;
  height:58px;
  top:-29px;
  width:100%;
}

.stay-connected {
  padding:0;

  @media #{$medium} {
    min-width: 351px;
  }

  @media #{$large} {
    //width:203px;
  }
}

.ranch-report {
  display:none;
  @media #{$medium} {
    display:block;
  }
}

#mc_embed_signup {
  margin-right:7px;
}

#mc_embed_signup,
.mc-field-group.base input {
  width:100% !important;
  @media #{$medium} {
    width:inherit;
  }
}

.mc-field-group.base input {
  height: 27px;
  @include remFont(12);

    @media #{$medium} {
      @include remFont(14);
    }
}


.social-nerds {

}

.nerd-awards {
  position:static;
  //width:150px;

  @media #{$medium} {
   min-width:175px;
  }

  img {
    float:none;
    position:static !important;

    &.inc-5000 {
      margin:15px 0 0 0;
    }

    @media #{$medium} {
      float:left;
      &.inc-5000 {
        margin:21px 0 0 15px;
      }
    }
  }
}