// responsive.scss


// Colors
$bnrLightGrey:    #dadada;
$bnrGrey:         #808285;
$bnrDarkGrey:     #333333;
$bnrLightYellow:  #fffcd7;
$yellow:          #EED27C;
$bnrYellow:       #e8ae10;
$bnrBurntYellow:  #bb8d0a;
$orange:          #ff6666;
$bnrGreen:        #766000;
$greenHeadline:   $bnrGreen;
$red:             #d30b0b;



// Mixins and functions

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@function remCalc($pxWidth) {
  @return $pxWidth / $em-base * 1rem;
}

@mixin remFont($pxWidth) {
  font-size: #{$pxWidth}px;
  font-size: #{$pxWidth / 16}rem;
}

@mixin remProperty ($property, $pxWidth) {
  #{$property}: #{$pxWidth}px;
  #{$property}: #{$pxWidth / 16}rem;
}

@mixin header-font($size: 16, $color: #fff, $weight: 400, $style: normal) {
  color:$color;
  font-family: "futura-pt", sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

@mixin header-font-condensed($size: 16, $color: #fff, $weight: 700, $style: normal) {
  color:$color;
  font-family: "futura-pt-condensed", sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

@mixin content-font($size: 16, $color: #fff, $weight: normal, $style: normal) {
  color:$color;
  font-family: Arial, Verdana, sans-serif;
  font-style: $style;
  font-weight: $weight;
  font-size: remCalc($size);
}

// The BNR site uses the normal browser box model (ie, widths and heights are adjusted based on the element's padding)
// Foundation normalizes everything to use 'box-sizing: border-box' (IE8 and above). To avoid having to change widths
// and heights across the board, we're setting it back for now

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  }

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background:url('');
}

// Header ------------------------------------------------------------- //

#fullContainer {
  min-height:1000px;
}

#logo {
  //background:transparent url(../images/logo-bnr.png) no-repeat left top;
  float: left;
  height:68px;
  margin:15px 0 0 10px;
  @include vendorize(transition, #{width 150ms linear, margin 150ms linear});
  width:179px;

  @media #{$small} {

  }

  @media screen and (max-width: "866px") {
    margin-top:18px;
    width:150px;
  }

}

header {
  z-index:1000;
}

header nav {
  display:none;
  float:left;
  position: relative;
  z-index: 9999;
  padding-top:33px;
  padding-left:58px;

  @media #{$small} {
    display:block;
  }

  @media screen and (max-width: "866px") {
    float:right;
    padding-left:0;
  }
}

.home-link {
  @media screen and (max-width: "863px") {
    display:none;
  }
}

.link-sammich {
  background:rgba(48, 38, 3, 0.15) url(../images/sammich.png) no-repeat center center;
  float:right;
  height:33px;
  margin: 20px 15px 0 0;
  padding: 10px;
  width:33px;

  @media #{$small} {
    display:none;
  }
}

.nav-drawer {
  position:absolute;
  z-index:900;
  padding:9px 4px;
  @include vendorize(transition, top 150ms linear);
  top:-62px;

  &.open {
    top:116px;
  }

  &.closed {
    top:-62px;
  }

  @media #{$small} {
    top:-89px !important;
  }

  @media screen and (min-width: "990px") {
    display:none;
  }
}


.nav-drawer ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

.nav-drawer a {
  background:#8f782a url(../images/bkg-nav-drawer.jpg) no-repeat center center;
  border:4px solid #766000;
  border-bottom:1px solid #766000;
  border-collapse:collapse;
  display:block;
  height:44px;
  margin:0;
  padding:11px 0 0 0;
  text-align:center;
  text-shadow: 2px 2px 5px #543d07;

  &:hover,
  &:active,
  &:focus {
    border-bottom:1px solid $yellow;
  }

}

.nav-drawer ul:first-child a {
  border-right:none;
}



.feature-wrap {
  background:url(../images/bkg-feature.jpg) no-repeat center top;
  //background:url(../old/images/home-slideshow-bg-repeat.png) repeat-x center top;


}

.feature {
  margin-bottom:25px;
  padding-top:20px;
 // min-height:376px;
}

.feature div:first-child {
  padding-right:0;
}

#homeSlideShow {
  height:auto;
  max-width:inherit;
  //margin-left:10px;
  position:relative;
  top:0;
  width:100%;
  z-index:50;
}

#slideShowBanner {
  left:14px;
  top:0;
}

#homeTopRightInfo {
  height:auto;
  margin-left:0;
  position:static;
  width:100%;

    @media #{$small} {
      margin-left:10px;
    }
}

.topRightInfoTxt h3,
.topRightInfoTxt a {

  @media screen and (min-width: '768px') and (max-width: '920px') {
    font-size:16px;
  }

}

.topRightInfoTxt p {
  padding:2px 35px;

  @media screen and (min-width: '768px') and (max-width: '920px') {
    font-size:11px;
  }

  @media #{$small} {
    padding:2px 15px;
  }
}

#homeTopRightInfo #yellowBox {
  background-size:cover;
  height: auto;
  padding-bottom: 30px;
  position:relative;
  width:100%;

  @media screen and (min-width: '768px') and (max-width: '885px') {
    padding-top:25px;
  }
}

#yellowBox .activeInfo {
  background-image:url(../images/home_top_right_active_banner-480.png);
  top:10px;
  @include vendorize(transition, #{top 150ms linear, right 150ms linear});
  z-index:100;

  width: 109%;
  height: 82px;
  background-size: 100% 100%;
  right: inherit;
  left: -3.1%;
  padding-top: 0px;

    @media screen and (min-width: '768px') and (max-width: '885px') {
      height:60px;
      padding-left:17px;
      width: 124%;
      left:inherit;
      right: -21px;
      top:-9px;
      background-size: 100% 100%;

      & h1, & h2 {
        font-size:1.2em;
        line-height:.5em;
      }

      .thinHeaderTxt {
        padding-top:0;
      }

    }

  @media screen and (min-width: '885px') {
      background-image:url(../old/images/home_top_right_active_banner.png);
      position: absolute;
      top: 10px;
      right: -25px;
      left: inherit;
      width: 334px;
      height: 88px;
    }
}

#yellowBoxHat {
  right: -37px;
  bottom: -49px;

  @media #{$small} {
    bottom: -30px;
    right: -60px;
  }
}


#midSection {
  min-height:634px;
  padding-top:25px;
}

.section-box-banner,
.home_col {
  width:100% !important;
}

#home_twitter_box {
  width:100%;
}

span.sectionFooterBanner {
  left:0 !important;
  width:100%;
}

.class_item {
  height:auto;
}

#home_mid_title {
  position:static;
}

#home_mid_title h4 {
  width:100%;
}

#client_carousel {
  position:static;
}

#client_carousel .slider {
  width:100%;
}

footer {
  background:url(../images/bkg-footer.jpg) repeat-x center top;
  height:auto;
  padding:40px 0 0 0;
  position:static;
}

footer #legal_info {
  position:static;
}